body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:gray;
}

.calculadora {
    width: 200px;
}

#display {
    width: 117%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
}

button:hover {
    background-color: #666;
}

#total2 {
    width: 210%;
}