body{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main div{
    display: inline-block;
    width: 49%;
}
.right{
    text-align: right;
}
a{

    margin-left: 24px;
    margin-right: 24px;
    color: white;
    text-decoration: solid;
}
.right input{
    margin-left: 10px;
    border: 0px;
    border-radius: 3px;
    width: 33%;
    max-width: 160px;
}
#btn{
    background-color: green;
    border: 1px;
    width: 15%;
    max-width: 100px;
}