body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: azure;
}

header{
    background-color: rgb(0, 0,0);

}


@media(min-width: 800px) {
    body{
        font-size: 50px;
    }
}