body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.main{
    background-color: white;
    width: 50%;
    text-align: center;
}
.main input{
    text-align: right;
}